{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <h3>Selamat Datang, {{ username }}!</h3>
                    <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
                </div>
            </div>
            <div class="card-body">
                <h1 class="h1"> KAMU BERHASIL LOGIN</h1>
                <h6 class="h6"> udah gitu aja kok</h6>
            </div>
        </div>
    </div>
</div>
{% endblock %}